<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button aria-label="Logo" class="md-fab md-white">
            <img class="png-icon" src="img/logo.png"/>
        </md-button>
        Skillout Dance
        <span flex="">
        </span>
        <md-button ng-repeat="item in list">
            {{item.name}}
        </md-button>
        <md-icon aria-label="Search" md-svg-icon="search">
        </md-icon>
        <md-button class="md-icon-button" hide-gt-sm="" ng-click="toggleSidenav()">
            <md-icon aria-label="Menu" class="material-icons">
                menu
            </md-icon>
        </md-button>
    </div>
</md-toolbar>