<div class="main" layout="column">
    <div class="header" layout="column" layout-align="center center">
        <div>
            <h1>
                FIND A CLAS
            </h1>
            <h3>
                Book a class with a skilled teacher in a convenient time and location
            </h3>
        </div>
        <md-content class="search-box" layout-padding="">
            <div>
                <form name="userForm" ng-submit="vm.searchTeachers(userForm)">
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>
                                WHAT?
                            </label>
                            <input ng-model="vm.search.term"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>
                                WHERE?
                            </label>
                            <input ng-model="vm.search.location"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <md-button class="md-primary md-raised" type="submit">
                                Search
                            </md-button>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
    <md-content class="content">
        <div class="md-primary" layout="column" layout-align="center center">
            <h1>
                FEATURED PROFILES
            </h1>
        </div>
        <div class="margin-row" layout="row" layout-wrap="">
            <md-card flex="30" md-theme-watch="" ng-repeat="teacher in vm.teachersProfile track by $index">
                <img alt="Washed Out" class="md-card-image" ng-src="{{teacher.profileImage}}"/>
                <md-card-actions layout="row" layout-align="start start">
                    <span>
                        {{teacher.name}}
                    </span>
                    <span flex="">
                    </span>
                    <star-rating rating="teacher.review | averageRating" readonly="true">
                    </star-rating>
                </md-card-actions>
                <md-card-actions layout="row" layout-align="start start">
                    <span>
                        {{teacher.skill.subject}}
                    </span>
                    <span flex="">
                    </span>
                    <md-button ui-sref="teacherProfile({id:teacher._id})">
                        VISIT PROFILE
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div layout="row" layout-align="center center" ng-if="vm.searched">
            <md-button class="md-primary md-raised text-center" ng-click="vm.loadMore" ng-disabled="vm.loading">
                Load More
            </md-button>
        </div>
        <div class="sign-up-banner" layout="column" layout-align="center center" layout-padding="">
            <h1 class="md-display-1">
                GET STARTED!
            </h1>
            <h1 class="md-headline">
                LERANING HOW TO DANCE IS JUST A CLICK AWAY!
            </h1>
            <md-button class="md-primary md-raised">
                SIGN UP
            </md-button>
        </div>
    </md-content>
</div>
