<div class="main" layout="column">
    <div class="header" layout="column" layout-align="center center">
        <div>
            <h1>
                FIND A CLASS
            </h1>
            <h3>
                Book a class with a skilled teacher in a convenient time and location
            </h3>
        </div>
        <md-content class="search-box" layout-padding="">
            <div>
                <form name="userForm">
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>
                                City
                            </label>
                            <input ng-model="user.city"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>
                                State
                            </label>
                            <md-select ng-model="user.state">
                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                            <md-button class="md-primary md-raised">
                                Search
                            </md-button>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
    <md-content class="content">
        <div class="md-primary" layout="column" layout-align="center center">
            <h1>
                FEATURED PROFILES
            </h1>
        </div>
        <div class="margin-row" layout="row" layout-margin="">
            <md-card flex="30" md-theme-watch="" ng-repeat="teacher in teachersProfile track by $index">
                <img ng-src="{{teacher.profileImg}}" class="md-card-image" alt="Washed Out">{{teacher.profileImg}}
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            Card with image
                        </span>
                        <span class="md-subhead">
                            Large
                        </span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                 <md-card-actions layout="row" layout-align="start start">
                    <md-button>
                         {{teacher.name}}
                    </md-button>
                     <span flex=""></span>
                    <md-button>
                      {{teacher.star}}
                    </md-button>
                </md-card-actions>
                <md-card-actions layout="row" layout-align="start start">
                    <md-button>
                        {{teacher.subject}}
                    </md-button>
                     <span flex=""></span>
                    <md-button>
                        <a ui-sref="#">VISIT PROFILE</a>
                    </md-button>
                </md-card-actions>


            </md-card>
        </div>
        <div class="sign-up-banner" layout="column" layout-align="center center" layout-padding="">
            <h1 class="md-display-1">
                GET STARTED!
            </h1>
            <h1 class="md-headline">
                LERANING HOW TO DANCE IS JUST A CLICK AWAY!
            </h1>
            <md-button class="md-primary md-raised">
                SIGN UP
            </md-button>
        </div>
    </md-content>
</div>
