.bottom-reviews {
    margin: 0px 25px;
}

.youtube-video {
    height: 300px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: none;
}

.teacher-detail {
    h3 {
        text-align: center;
    }
    h1 ,p {
        padding: 5px;
    }
}